#okta-sign-in {
	margin-top: 0px !important;
}

.ui.grid {
	padding: 0 5em;
	margin-top: 5em;
}

body {
	background: url('https://static1.squarespace.com/static/5813cddb8419c25c3b42eacd/5813e16c3e00be80a7c8d559/581ea3e5ff7c509a5ca320fa/1478403146250/Screen+Shot+2016-11-05+at+8.30.37+PM.png?format=2500w');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer {
	position: fixed !important;
    width: 100% !important;
    padding: 15px !important;
    bottom: 0px !important;
    left: 0px !important;
}