#okta-sign-in {
	margin-top: 0px !important;
}

.ui.grid {
	padding: 0 5em;
	margin-top: 5em;
}

body {
	background: #f9f9f9;
}

.footer {
	position: fixed !important;
    width: 100% !important;
    padding: 15px !important;
    bottom: 0px !important;
    left: 0px !important;
}