#okta-sign-in {
	margin-top: 0px !important;
}

.ui.grid {
	padding: 5em;
	/* margin-top: 5em; */
}

body {
	background: url('/img/ggb.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
